<!-- PROFILE-EDIT.hbs -->
{{#if message }}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}
<div class="cards-container d-flex flex-wrap justify-content-center align-content-center">
    <div class="card details" style="width: 20rem;">
        <div>
            <img class="card-img-top" src="{{user.profileImage}}" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title">
                    <strong>{{user.username}}</strong>
                </h1>
                <form action="/user/{{user._id}}/profile-update" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="">Username:</label>
                        <input class="form-control" type="text" name="username" value="{{user.username}}">
                    </div>
                    <div class="form-group">
                        <label for="">Password:</label>
                        <input class="form-control" type="password" name="password" placeholder="Enter a new password">
                    </div>
                    {{#if message }}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                    {{/if}}
                    <div class="form-group">
                        <label for="photo">Image</label>
                        <input class="form-control-file" type="file" name="photo">
                    </div>
                    <div class="form-group">
                        <p>
                            <button type="submit" class="btn btn-success">Update profile</button>
                            <a class="btn btn-primary" href="/user/{{user._id}}/profile">Back</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>